---
layout: base
permalink: /index
---




<div class="container clearfix title">
    <div id="section-home" class="heading-block title-center nobottomborder page-section">
        <h1 class="">WashU Mock Trial</h1>
        {% comment %}<span>Washington University's Nationally Recognized Mock Trial Team is excited to welcome its
            newest members:</span>{% endcomment %}
        <span>Washington University's Nationally Recognized Mock Trial Team</span>
    </div>
</div>
<div id="wrapper" class="clearfix">
    <section id="content row">
        <div class="container clearfix">
            <!-- <div id="section-home" class="heading-block title-center nobottomborder page-section">
                <h1 class="">WashU Mock Trial</h1>
                {% comment %}<span>Washington University's Nationally Recognized Mock Trial Team is excited to welcome its newest members:</span>{% endcomment %}
                <span>Washington University's Nationally Recognized Mock Trial Team</span>
            </div> -->

            <div class="container clearfix">

                {% comment %}
                <div id="countdown-ex1" class="countdown countdown-large divcenter is-countdown welcomePanel">
                    {% assign rows = site.data.newMembers.size | divided_by: 4.0 | ceil %}
                    {% for i in (1..rows) %}
                    <div class="row">
                        {% assign offset = forloop.index0 | times: 4 %}
                        {% for member in site.data.newMembers limit:4 offset:offset %}
                        <span class="welcomeGrid"><span class="welcomeTitle">{{ member }}</span></span>
                        {% endfor %}
                    </div>
                    <hr />
                    {% endfor %}

                </div>
                {% endcomment %}

                <div class="clear"></div>


                <div class="row">
                    <div class="col-md-7 topmargin nobottommargin keep-ratio">
                        <img data-animate='fadeInLeft' alt="The team" src="img/uploads/wumt2020orcs.jpg">
                    </div>

                    <div class="col-md-4 topmargin nobottommargin">
                        <div id="description"></div>
                        {{ site.data.home.message | markdownify }}
                    </div>
                </div>




            </div>
    </section>
</div>
<div class="container clearfix">
    <div class="row">
        <!-- //buttons team  questions join contact -->
        <div class="container clearfix">
            <div class="row">
                <!-- //buttons team  questions join contact -->
                <ul class="nav navbar-nav home-buttons">
                    
                 
                    
                    <li><a href="/team" class="home-buttons">Team</a></li>
                    
                    
                    <li><a href="/faqs" class="home-buttons">FAQs</a></li>
                    
                    
                    <li><a href="/join" class="home-buttons">Join</a></li>
                    
                    
                    <li><a href="/contact" class="home-buttons">Contact Us</a></li>
                    
                </ul>
        
        
            </div>
        

    <div class="row">
        <!-- join photo background and BIG Actors / arguers buttons that lead to the same place, the join page-->
        <span>Actors ></span>
        <span>Arguers ></span>
    </div>

    <div class="row">
        <!-- contact banner like top-->
        <ul class="nav navbar-nav home-buttons">
            {% for link in site.data.links %}
            {% assign data = link[1] %}
            <li><a href="{{ data.url }}">{{ data.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>