{% macro member_stub(person, year) %}
<li>
			<div class="testimonial">
				<div class="member-image">
					<img src="{{ person.photo }}" alt="{{ person.name }}">
				</div>


				<div class="member-content">
					<h4><a href="members/{{ person.name.lower().replace(' ', '') }}">{{ person.name }}</a></h4>
					<h5>{{ person.title or " " }}</h5>

					<div><i class="fa fa-graduation-cap"></i> {{ person.major }}</div>
					<div><i class="fa fa-globe"></i> {{ person.hometown }}</div>
					<div>
						<i class="fa fa-calendar"></i>
						{% set years = year - person.joinYear %}
						{{ years }} {{ 'Year' if years == 1 else 'Years' }} on WUMT
					</div>
				</div>
			</div>
		</li>
{% endmacro %}