<nav class="navbar navbar-fixed-top">
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <div class="container-fluid">
        <div class="navbar-header">
            <button id='navbar-toggle-button' type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#primary-menu"
                    aria-expanded="false" aria-controls="primary-menu">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-2x fa-bars"></i>
            </button>
            <div id="logo">
                <a href="/" class="brand-logo">
                    {% asset wumt_logo.png alt:'WUMT Logo' width:100 %}
                </a>
            </div>
        </div>
        <div id="primary-menu" class="primary-menu dark navbar-collapse collapse" aria-expanded="false"
             role="menu"
             style="height: 1px;">
            <ul class="nav navbar-nav">
                {% for link in site.data.links %}
                    {% assign data = link[1] %}
                    <li><a href="{{ data.url }}">{{ data.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
