<div class="testimonial member-bio {{ include.size }}">
    <div class="member-image">
        <img src="{{ person.photo | default: "http://placehold.it/150x150" }}"  style="width:150px;height:150px;" alt="{{ person.name }}">
    </div>


    <div class="member-content">
        <h4><a href="members/{{ person.title | replace: " ","-" | lower }}">{{ person.title }}</a></h4>
        <h5>{{ person.teamTitle | default: " " }}</h5>


        <ul class="fa-ul member-list">
            <li>

                {% if person.role == "Coach" %}
                    <i class="fa-li fa fa-briefcase"></i>
                    <span class="sr-only">Employer</span>
                    <span>{{ person.majors }} </span><br>
                {% else %}
                    <i class="fa-li fa fa-graduation-cap"></i>
                    <span>Major: {{ person.majors }} </span><br>
                    {% unless person.minors == nil %}
                        <span>Minor: {{ person.minors }}</span>
                    {% endunless %}
                {% endif %}
            </li>
            <li>
                <i class="fa-li fa fa-globe"></i>
                <span class="sr-only">Hometown</span>
                {{ person.hometown }}
            </li>
            <li>
                <i class="fa-li fa fa-calendar"></i>
                <span class="sr-only">Years on WUMT</span>
                {% assign years = 2023 | minus: person.joinYear %}
                {% if years == 1 %}
                    1 Year on WUMT
                {% else %}
                    {{ years }} Years on WUMT
                {% endif %}
            </li>
        </ul>


    </div>
</div>
