<li>
   <div class="testimonial">
        <div class="member-image">
            <img src="{{ person.photo | default: "http://placehold.it/150x150" }}" alt="{{ person.name }}">
        </div>


        <div class="member-content">
            <h4><a href="members/{{ person.title | lower | replace: " ","_"}}">{{ person.title }}</a></h4>
            <h5>{{ person.teamTitle | default: " "}}</h5>

            <div><i class="fa fa-graduation-cap"></i> {{ person.majors }}</div>
            <div><i class="fa fa-globe"></i> {{ person.hometown }}</div>
            <div>
                <i class="fa fa-calendar"></i>
                {% assign years = 2018 | minus: person.joinYear%}
                {% if years == 1 %}
                    1 Year on WUMT
                {% else %}
                    {{ years }} Years on WUMT
                {% endif %}
            </div>
        </div>
    </div>
</li>
