// Initialize
//@import 'bootstrap-sprockets';
@import 'bootstrap.scss';
@import "_sass/canvas/variables.scss";
@import "_sass/canvas/mixins.scss";
// Core CSS
@import "_sass/canvas/typography.scss";
@import "_sass/canvas/helpers.scss";
@import "_sass/canvas/layouts.scss";
// Content Blocks
@import "_sass/canvas/topbar.scss";
@import "_sass/canvas/header.scss";
@import "_sass/canvas/sliders.scss";
@import "_sass/canvas/pagetitle.scss";
@import "_sass/canvas/content.scss";
@import "_sass/canvas/portfolio.scss";
@import "_sass/canvas/shop.scss";
@import "_sass/canvas/events.scss";
@import "_sass/canvas/shortcodes.scss";
@import "_sass/canvas/buttons.scss";
// Footer
@import "_sass/canvas/footer.scss";
@import "_sass/canvas/dark.scss";
// Widgets
@import "_sass/canvas/widgets.scss";
// Extras
@import "_sass/canvas/extras.scss";

.member-bio {
	overflow: hidden;
	display: block;
	min-height: 27em;
	max-height: 30em;
}

@media screen and (max-width: 453px) {
	#orDivider {
		display: block;
	}

}

.keep-ratio {
	display: block;
	@media screen and (min-width: 453px) {
		max-width:640px;
		max-height:480px;
	}

	width: auto;
	height: auto;
}

// Recruitment Page
.equalHeight {
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
}

.recruitmentBox {
	@extend .pricing-features;
	text-align: justify;
	padding: 1em 2em 0 2em;
}

#main-message {
	text-align: justify;
	p > a {
		color: #FFFFFF;
		font-weight: bold;
		text-decoration: underline !important;
	}
}


.darkRecruitment {
	@extend .dark;
	border-radius: 3px;
	background-color: rgba(0, 0, 0, 0.7);
}

// Welcome to new members

.welcomePanel {
	max-width:700px;
}
.welcomeGrid {
	@extend .center;
	@extend .col-xs-12;
	@extend .col-md-3;
	border-right: 1px dashed rgba(77, 77, 77, 0.2);
}

.welcomeTitle {
	@extend .countdown-amount;
	font-size: 35px !important;
}

div#primary-menu {
    // background-color: rgb(255, 255, 255);
	text-align: center;
}

body {
	
	background-color: #f1f1f1;

	background-image: url('../../img/brookings.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

   }
.title{
	margin-bottom: 25%;
    margin-top: 7%;
	width: 100%;
	background-color: #ffffff;
}
   #section-home{
	padding-top: 50px;
	padding-bottom: 50px;
}

.home-buttons{

    padding: 60px !important;
    font-size: large;
    color: black;
    margin: 3px;
        
}