---
layout: base
title: Contact Us
permalink: /contact
---
<div class="content-wrap notopmargin">

    <div class="container clearfix">
        <div class="row clear-bottommargin">
            <div class="col-xs-offset-2">

                {% include contact_stub.html icon='fa-user-plus'
                message='Want to Join WUMT?'
                submessage='Email WUMT Recruitment'
                link='mailto:recruitment@washumocktrial.org' %}

                {% include contact_stub.html icon='fa-trophy'
                message='Arch Questions?'
                submessage='Email our Tournament Chairs'
                link='mailto:archinvitational@washumocktrial.org' %}

                {% include contact_stub.html icon='fa-question'
                message='Something Else?'
                submessage='Email the Coaches'
                link='mailto:coaches@washumocktrial.org' %}

            </div>
        </div>
    </div>
</div>
