---
layout: base
title: Contact Us
permalink: /contact
---

<div class="content-wrap notopmargin">

    <div class="container clearfix contact-designing">
        <div class="row clear-bottommargin white-back">
            <div class="col-xs-offset-2">

                {% include contact_stub.html icon='fa-user-plus'
                message='Want to Join WUMT?'
                submessage='Email our Recruitment Chair'
                link='mailto:recruitment@washumocktrial.org' %}

                {% include contact_stub.html icon='fa-trophy'
                message='Arch Questions?'
                submessage='Email our Tournament Chair'
                link='mailto:archinvitational@washumocktrial.org' %}

                {% include contact_stub.html icon='fa-question'
                message='Something Else?'
                submessage='Email our President'
                link='mailto:sarah.rosen@washumocktrial.org' %}

            </div>
        </div>
    </div>
</div>
