---
layout: base
title: Join Us
permalink: /join
---

{% assign recruitment = site.recruitment | first %}
<div class="container clearfix">
    <div class="content-wrap notoppadding">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 promo promo-center promo-dark promo-flat">
                <h3>{{ recruitment.title }}</h3>
                <span id="main-message">{{ recruitment.main_message | markdownify }}</span>
            </div>
        </div>

        <div class="row">
            <div class="pricing bottommargin clearfix equalHeight">
                {% for category in recruitment.groups %}
                    {% assign width = 8 | divided_by: forloop.length %}
                    {% if forloop.first == true %}
                        {% assign color = "darkRecruitment" %}
                        {% assign shift = "col-md-offset-2" %}
                    {% else %}
                        {% assign color = "" %}
                        {% assign shift = "col-md-offset-0" %}
                    {% endif %}

                    <div class="col-md-{{ width }} col-xs-12 col-sm-8 col-sm-offset-2 {{ shift }} {{ color }}">

                        <div class="pricing-box {{ color }}">
                            <div>
                                <div class="pricing-title">
                                    <h3>{{ category.name }}</h3>
                                </div>

                                <div class="recruitmentBox">
                                    {{ category.message | markdownify }}
                                </div>
                            </div>
                        </div>

                    </div>
                {% endfor %}
                <script>
                    // Make the boxes equal height
					const categories = Array.from(document.getElementsByClassName('recruitmentBox'));
					categories.forEach(c => c.style.height = "");
					const height = Math.max(...categories.map(c => c.clientHeight));
					categories.forEach(c => c.style.height = `${height}px`)
                </script>

            </div>
        </div>

    </div>
</div>
