---
layout: base
title: Team
permalink: /team
---


<div id="coaches" class="container clearfix">
    <div class="fancy-title title-border">
        <h3>Coaches</h3>
    </div>
    <ul class="testimonials-grid grid-3 clearfix">
        {% for person in site.members %}
            {% if person.teamTitle == "Coach" %}
                {% include member_stub.html person=person %}
            {% endif %}
        {% endfor %}
    </ul>
</div>

<div id="team-members" class="container clearfix">
    <div class="fancy-title title-border">
        <h3>Team Members</h3>
    </div>

    <ul class="testimonials-grid grid-3 clearfix">
        {% for person in site.members %}
            {% if person.teamTitle != "Coach" %}
                {% include member_stub.html person=person %}
            {% endif %}
        {% endfor %}
    </ul>
</div>
