---
layout: base
title: Team
permalink: /team
---


<div id="coaches" class="grid-container clearfix">
    <div class="fancy-title title-border">
        <h3>Coaches</h3>
    </div>
    <ul class="container">
        {% for person in site.members %}
            {% if person.teamTitle == "Coach" %}
                {% cycle '<li class="row equalHeight">', '', '', '' %}
                {% include member_stub.html person=person size="col-md-3 col-xs-12" %}
                {% cycle '', '', '', '</li>' %}
            {% endif %}
        {% endfor %}
    </ul>
</div>

<div id="team-members" class="grid-container clearfix">
    <div class="fancy-title title-border">
        <h3>Team Members</h3>
    </div>

    {% assign members = 0 %}
    <ul class="container">
        {% for person in site.members %}
            {% if person.teamTitle != "Coach" %}
                {% assign members = members | plus:1 %}
                {% cycle '<li class="row equalHeight">', '', '', '' %}
                {% include member_stub.html person=person size="col-md-3 col-xs-12" %}
                {% cycle '', '', '', '</li>' %}
            {% endif %}
        {% endfor %}
        {% assign itemsInLastRow = members | modulo: 4 %}
        {% if itemsInLastRow != 0 %}
            {{ "</li>" | strip }}
        {% endif %}


    </ul>
</div>
