---
layout: base
title: Team
permalink: /team
---


<div id="coaches" class="container clearfix">
    <div class="fancy-title title-border">
        <h3>Coaches</h3>
    </div>
    <ul class="testimonials-grid grid-3 clearfix">
        {% assign coaches = site.data.members | where:"role", "Coach" %}
        {% for coach in coaches %}
            {% include member_stub.html person=coach %}
        {% endfor %}
    </ul>
</div>

<div id="team-members" class="container clearfix">
    <div class="fancy-title title-border">
        <h3>Team Members</h3>
    </div>

    <ul class="testimonials-grid grid-3 clearfix">
        {% assign members = site.data.members | where:"role", "Member" %}
        {% for member in members %}
            {% include member_stub.html person=coach %}
        {% endfor %}
    </ul>
</div>
