---
layout: base
title: Arch Invitational
permalink: /arch
---

<div class="container clearfix">
    <h1>Arch Invitational</h1>
    <div class="row bottommargin">
        <div class="col-md-9">
            <div class="entry-image nobottommargin">
                <a href="#"><img src="{{ page.photo | default: 'http://placehold.it/1140x500' }}" alt="Arch 2017"></a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default events-meta">
                <div class="panel-heading">
                    <h3 class="panel-title">Event Info:</h3>
                </div>
                <div class="panel-body">
                    <ul class="iconlist list-unstyled nobottommargin">
                        <li><i class="fa fa-calendar"></i> October 2021</li>
                        <li><i class="fa fa-map-marker"></i> Washington University in St. Louis, Missouri</li>
                    </ul>
                </div>
            </div>
            {% if page.packet == nil %}
                {% assign disable_packet = "disabled" %}
            {% endif %}
            <a href="{{ page.packet.url | default: '#' }}" {{ disable_packet }}
               class="btn btn-success btn-block btn-lg">Tournament Packet</a>
            {% if page.results == nil %}
                {% assign disable_results = "disabled" %}
            {% endif %}
            <a href="{{ page.results.url | default: '#' }}" {{ disable_results }}
               class="btn btn-block btn-lg btn-danger">Tournament Results</a>
        </div>
    </div>

    <div class="row">

        <div class="col-md-6">

            <h3>Details</h3>

            {{ page.details | markdownify }}

        </div>
        <div class="col-md-6">

            <h3>Schedule and Round Assignments</h3>
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">Schedule</a></li>
                {% for i in (1..4) %}
                    {% assign round_number = "round" | append: i %}
                    {% assign round = page[round_number] %}
                    {% if round == nil %}
                        {% break %}
                    {% endif %}
                    <li><a data-toggle="tab" href="#round{{ i }}">Round {{ i }}</a></li>
                {% endfor %}

            </ul>
            <div class="tab-content">
                <div id="home" class="table-responsive active tab-pane">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Time</th>
                            <th>Event</th>
                            <th>Location</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for event in page.schedule %}
                            <tr>
                                <td class="time-block" data-date="{{ event.startTime }}">
                                    <span class="label label-info time-day">{{ event.startTime }}</span>
                                    <span class="label label-danger time-hour">{{ event.startTime | date: '%l:%M %p' }}</span>
                                </td>
                                <td>{{ event.title }}</td>
                                <td>{{ event.location }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                {% for i in (1..4) %}
                    {% assign round_number = "round" | append: i %}
                    {% assign round_name = page[round_number] %}
                    {% if round_name == nil %}
                        {% break %}
                    {% endif %}
                    {% for round in site.rounds %}
                        {% if round.title != round_name %}
                            {% continue %}
                        {% endif %}
                        <div id="round{{ i }}" class="table-responsive tab-pane">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    {% if page.caseType == "Civil" %}
                                        <th>Plaintiff</th>
                                    {% else %}
                                        <th>Prosecution</th>
                                    {% endif %}
                                    <th>Defense</th>
                                    <th>Location</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for pairing in round.pairings %}
                                    <tr>
                                        <td> {{ pairing.prosecution }} </td>
                                        <td> {{ pairing.defense }} </td>
                                        <td>{{ pairing.location }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endfor %}

                {% endfor %}

            </div>

        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script>
    const days = document.getElementsByClassName("time-day");
    const hours = document.getElementsByClassName("time-hour");

//    function formatTime(item, formatString) {
//        item.
//    }
</script>
