<!doctype html>
<html lang="en">
<head>
    <meta name="description" content=""/>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="HandheldFriendly" content="True"/>
    <meta name="MobileOptimized" content="320"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

    <link rel="stylesheet" type="text/css"
          href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-105834302-1"></script>
    <script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments)}
		gtag('js', new Date());
		gtag('config', 'UA-105834302-1');
    </script>


    {% css style %}
    <title>{{ page.title | default: "Washington University Mock Trial" }}</title>
</head>

<body>
<div id="main" class="stretched container">
    {% include header.html %}
    {{ content }}
</div>
{% include footer.html %}

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
        crossorigin="anonymous">
</script>
{% js main %}
</body>
</html>
