---
layout: base
title: page.title
---

<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">
            <div class="row clearfix">
                <div class="col-md-9">
                    <div class="clearfix">
                        <img class="col-md-5" src="{{ page.photo | default: "http://placehold.it/300x300" }}"
                             width="300" alt="{{ page.title }}">

                        <div class="col-md-6">
                            <div class="team-title"><h2>{{ page.title }}</h2>
                                <h5>{{ page.teamTitle }}</h5>
                                {% if page.role == "Coach" %}
                                    <span>{{ page.majors }}</span>
                                {% else %}
                                    <span>Major: {{ page.majors }}</span>
                                    {% unless page.minors == nil %}
                                    <span>Minor: {{ page.minors }}</span>
                                    {% endunless %}
                                {% endif %}
                            </div>

                            <div class="team-content">
                                <h3>Biography</h3>
                                {{ page.biography | markdownify }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <a href="/team" class="button button-blue button-rounded">Back</a>
                    <div data-animate="bounceIn">
                        {% assign years = 2018 | minus: page.joinYear %}
                        <div class="counter counter-large years">
                            <span>{{ years }}</span>
                        </div>
                        {% if years == 1 %}
                            <h5>1 Year on WUMT</h5>
                        {% else %}
                            <h5>{{ years }} Years on WUMT</h5>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
